dirty-white=#FCF3F3
blanquito=#B0A6A6
hattori-hanzo=#6B6565
charcoal=#2C2B2B
zero-the-hero=#A10E0E

body
	background-color hattori-hanzo
	color dirty-white
	height 100%
	font-family: 'Raleway', sans-serif;

h1
	margin 0 auto
	display block
	color white

header
	height 100%
	background url('../img/mac2.jpg')
	background-size cover

header img 
	padding 50px 0 0 0

html
	height 100%
	
nav
	background-color zero-the-hero

.block
	display block

.center
	text-align center

.height100
	height 100%
	
.transparency
	background rgba(44,43,43,.5)